.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content:space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 227, 227);
}
.left-section{
     display: flex;
     align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}
.youtube-logo{
    height: 16px;
}
.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    
}
.search-bar {
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 184, 184);
    border-radius: 2px;
    box-shadow: inset 0.5px 0.5px 2px
     rgba(0, 0, 0, 0.501);
     height: 35px;
     cursor: pointer;
     width: 0;
     border-radius: 20px;
     margin-right: -14px;
}

.search-bar::placeholder {
    font-family: Roboto, arial;
    font-size: 16px;
    
}
.search-button {
    height: 39px;
    width: 50px;
    background-color: rgb(246, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 184, 184);
    margin-left: -18px;
    cursor: pointer;
    border-radius: right 9px;
}
.search-button,
.voice-search-button,
.upload-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip{
    font-family: arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    align-items: center;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip{
    opacity: 1;
}
.search-icon {
    height: 24px;
}
.voice-search-button{
    height: 42px;
    width: 42px;
    border-radius: 20px;
    border-style: none;
    margin-left: 12px;
    background-color: rgb(245, 242, 242);
    cursor: pointer;
    
}

.voice-search-icon{
    height: 23px; 
}
.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 182px;
    margin-right: 24px;
    margin-left: 29px;
    flex-shrink: 0;
    
}
.upload-icon{
    height: 25px;
    cursor: pointer;
}
.youtube-apps-icon{
    height: 25px;
    cursor: pointer;
}
.notifications-icon{
    height: 25px;
    cursor: pointer;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{
    background-color: red;
    border-radius: 80px;
    position: absolute;
    top: -3px;
    right: 77px;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    padding: 05px;
    pointer-events: none;
    font-family: arial;
    cursor: pointer;
}
.current-user-picture{
    height: 32px;
    cursor: pointer;
}
